<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="refresh" content="1800">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../static/images/favicon.png" th:href="@{/images/favicon.png}" rel="icon" type="image/png">
    <link href="../static/css/signin.css" th:href="@{/css/signin.css}" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>
<body class="text-center">
<div class="container">
    <img class="mb-4" src="../static/images/logo.svg" th:src="@{/images/logo.svg}" alt="TiMaven" width="288" height="288">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <form class="form-signin" th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="mb-3">
            <div class="alert alert-danger">
                <p>Invalid username and password.</p>
            </div>
        </div>
        <div th:if="${param.logout}" class="mb-3">
            <div class="alert alert-info">
                <p>You have been logged out successfully.</p>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
            <label for="username">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <input type="hidden" id="service" name="service" class="form-control" placeholder="" th:value="${service}"/>
        <div class="d-grid">
            <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </div>
    </form>
    <p class="mt-5 mb-3 text-muted">&copy; <span id="copyright-year">2019-2020</span></p>
</div>
<script type="text/javascript">
    $(function () {
        let today = new Date();
        let thisYear = today.getFullYear();
        let nextYear = thisYear + 1;
        $('#copyright-year').text(`${thisYear}-${nextYear}`);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>
</html>
